


$color-principal: #f2f2f2;
$color-secundario: #f4f4f4;
nav { 

background-color: $color-principal; 

ul{

	color: $color-secundario;

	li {

		display: inline-block;

		a { text-decoration: none;}


		}
	}
}